<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ListPage</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        body {
            padding-top : 80px;
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
</head>
<body>
    <div class="navbar navbar-dark bg-dark fixed-top navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="#">Bootstrap</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-content">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">HTML</a>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">Geolocation</a>
                            <a href="#" class="dropdown-item">Drag and Drop</a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">Motion</a>
                        </div>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link">CSS3</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">ECMAScript</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Node.js</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">API</a></li>
                </ul>
                <form action="" class="form-inline">
                    <input type="text" class="form-control" placeholder="Search"/>
                </form>
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="#" class="nav-link">Node.js</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">API</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="mt-2 p-5 bg-secondary text-white rounded">
                <h1>Board List Page</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                <a href="#" class="btn btn-primary btn-lg">Register</a>
            </div>


            <div class="mt-2" id="content-container">

            </div>

        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            let currentPage = 1;
            const pageSize = 9; // 한 번에 가져올 데이터의 개수

            $(document).ready(function() {

                $(document).on('click', '.scrap-button', function() {
                    const button = $(this);
                    const board_bno = $(this).closest('.card').find('.board_bno').val();
                    const member_email = $(this).closest('.card').find('.member_email').text();

                    console.log(button);
                    console.log(board_bno);
                    console.log(member_email);

                    let isScrapped = button.text() === 'UnScrap';

                    const url = isScrapped ? `/scrap?bno=${board_bno}&writer=${member_email}` : `/cancelScrap?bno=${board_bno}&writer=${member_email}`;
                    $.ajax({
                        url: url,
                        type: isScrapped ? "Post" : "Delete",
                        success: function(response) {
                            alert(response.msg); // 성공 메세지 출력
                            button.text(isScrapped ? 'Scrapped' : 'UnScrap'); // 버튼 글자 업데이트
                        },
                        error: function(xhr, status, error) {
                            alert("Error: " + error);
                            isScrapped = !isScrapped;
                        }
                    })
                })


                // 추천 기능 구현
                $(document).on('click', '.like-button', function() {
                    // 현재 클릭된 버튼의 부모 요소에서 board_bno와 member_email 값을 찾습니다.
                    const board_bno = $(this).closest('.card').find('.board_bno').val();
                    const member_email = $(this).closest('.card').find('.member_email').text();
                    const likeCount = parseInt($(this).closest('.card').find('.like-count').text());
                    console.log(board_bno);
                    console.log(member_email);
                    console.log(likeCount);

                    // 클릭된 버튼을 변수에 저장
                    const clickedButton = $(this);

                    // 클릭된 버튼의 좋아요 상태를 나타내는 변수
                    let isLiked = clickedButton.data('isLiked');

                    // 좋아요 상태에 따라 URL 설정
                    const url = isLiked ? `/disLike?likeCount=${likeCount}` : `/like?likeCount=${likeCount}`;

                    $.ajax({
                        url: url,
                        method: isLiked ? 'DELETE' : 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({ member_email:member_email, board_bno: board_bno}),
                        success: function(response) {
                            if (response) {
                                // 서버 응답에서 좋아요 수를 받아옴
                                const updatedLikeCount = response;

                                // 좋아요 수를 화면에 반영
                                const likeCountElement = clickedButton.closest('.card-body').find('.like-count');
                                likeCountElement.text(updatedLikeCount);

                                // 클릭된 버튼의 좋아요 상태를 업데이트
                                clickedButton.data('isLiked', !isLiked);
                            }
                        },
                        error: function(xhr, status, error) {
                            console.log('Error: ', error);
                            clickedButton.data('isLiked', !isLiked);
                        }
                    });
                })




                // 무한스크롤 구현
                loadMoreData(currentPage, pageSize); // 페이지 로드 시 초기 데이터 로드

                $(window).scroll(function() {
                    if ($(window).scrollTop() + $(window).height() >= $(document).height() - 10) {
                        currentPage++;
                        console.log(currentPage)
                        loadMoreData(currentPage, pageSize);
                    }
                });
            });

            function loadMoreData(page, size) {
                $.ajax({
                    url: '/api/data',
                    method: 'GET',
                    data: { page: page, size: size },
                    success: function(data) {
                        console.log("Data fetched",data);
                        updateContent(data.dtoList); // Page 객체의 content 리스트를 사용
                    },
                    error: function(error) {
                        console.error("Error fetching data", error);
                    }
                });
            }

            function updateContent(data) {
                let content = '<div class="row row-cols-1 row-cols-md-3 g-3 mt-1 list">';
                data.forEach(dto => {
                    //스크랩 상태를 저장하는 변수
                    let isScrapped = dto.scrapped;
                    let scrapText = isScrapped ? 'Scrapped' : 'UnScrap';

                    // Date 객체로 변환
                    let regDate = new Date(dto.regDate);
                    let modDate = new Date(dto.modDate);
                    let currentDate = new Date();

                    let displayDate = dto.regDate !== dto.modDate ? modDate : regDate;

                    // 날짜 차이를 계산하는 함수
                    function getTimeDifference(date1, date2) {
                        const diffTime = date2 - date1; // 시간 차이 밀리초 단위로 계산
                        const diffMinutes = Math.floor(diffTime / (1000 * 60)); // 분 단위로 변환
                        const diffHours = Math.floor(diffMinutes / 60); // 시간 단위로 변환
                        const diffDays = Math.floor(diffHours / 24); // 일 단위로 변환
                        return { diffMinutes, diffHours, diffDays };
                    }

                    let timeDiff = getTimeDifference(displayDate, currentDate);

                    // 시간 차이에 따라 적절한 형식으로 표시
                    let formattedDate;
                    if (timeDiff.diffDays >= 1) {
                        formattedDate = displayDate.toLocaleDateString('ko-KR', { year: 'numeric', month: '2-digit', day: '2-digit' });
                    } else if (timeDiff.diffHours >= 1) {
                        formattedDate = `${timeDiff.diffHours}시간 전`;
                    } else if (timeDiff.diffMinutes >= 1) {
                        formattedDate = `${timeDiff.diffMinutes}분 전`;
                    } else {
                        formattedDate = '방금 전';
                    }


                    content += '<div class="col">'
                    content += '<div class="card h-70">'
                    content += '<img src="/display?fileName=' + dto.imageDTO.thumbnailURL + '" style="max-height: 18rem;" class="card-img-top" alt="...">'
                    content += '<div class="card-body">'
                    content += '<div class="row mb-2">'
                    content += '<div class="col-9">'
                    content += '<h4 class="card-title">' + dto.title + '<span><small><b> (' + dto.replyCount + ')</b></small><input class="board_bno" type="hidden" value="'+ dto.bno +'"></span></h4>'
                    content += '</div>'
                    content += '<p class="card-text member_email">' + dto.writerEmail + '</p></div>'
                    dto.tags.forEach(tag => {
                        content += '<span class="card-text"><small>#' + tag + '   </small></span>'
                    });
                    content += '<p class="card-text">Like : <b class="like-count">' + dto.likeCount + '  </b>'
                    content += '<span><button class="btn btn-outline-danger btn-sm like-button"> + 1</button>'
                    content += '<button class="btn btn-outline-success btn-sm scrap-button">' +  scrapText + '</button></span></p></div>'
                    content += '<div class="card-footer"><small class="text-body-secondary">' + formattedDate + '</small></div></div></div>';
                });
                content += '</div>'
                $('#content-container').append(content); // 새 콘텐츠를 기존 콘텐츠에 추가
            }
        </script>
</body>
</html>