<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        body {
            padding-top : 80px;
        }
        .uploadResult {
            width: 100%;
            background-color: grey;
            margin-top: 10px;
        }
        .uploadResult ul {
            display: flex;
            flex-flow : row;
            justify-content: center;
            align-items: center;
            vertical-align: top;
            overflow: auto;
        }
        .uploadResult ul li {
            list-style : none;
            padding : 10px;
            margin-left : 2em;
        }
        .uploadResult ul li img {
            width : 100px;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-dark bg-dark fixed-top navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="#">Bootstrap</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-content">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">HTML</a>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">Geolocation</a>
                            <a href="#" class="dropdown-item">Drag and Drop</a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">Motion</a>
                        </div>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link">CSS3</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">ECMAScript</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Node.js</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">API</a></li>
                </ul>
                <form action="" class="form-inline">
                    <input type="text" class="form-control" placeholder="Search"/>
                </form>
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="#" class="nav-link">Node.js</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">API</a></li>
                </ul>
            </div>
        </div>
    </div>

    <h1 class="text-center">Board Register Page</h1>
    <div class="col-6 offset-3">
        <form th:action="@{/board/register}" th:method="POST">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" data-icon-name="fa fa-upload" type="text" id="title" name="title">
            </div>

            <div class="mb-3">
                <label class="form-label" for="content">Content</label>
                <textarea class="form-control" name="" id="" cols="20" rows="5"></textarea>
            </div>

            <div class="mb-3">
                <label class="form-label" for="image">Writer</label>
                <input class="form-control" type="text" id="image" name="campground[image]">
            </div>
            <div class="form-group fileForm">
                <div class="box">

                </div>
                <label for="">Image Files</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input files form-control" id="fileInput" multiple>
                    <label class="custom-file-label form-label" data-browse="Browse"></label>
                </div>
            </div>

            <div class="uploadResult">
                <ul>

                </ul>
            </div>


<!--          <a th:href="@{/board/modify(bno=${dto.bno}, page=${requestDTO.page}, type=${requestDTO.type}, keyword=${requestDTO.keyword})}">-->
            <button type="button" class="btn btn-primary">Register</button>
<!--          </a>-->
 

    </div>
</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(e) {
            var regex = new RegExp("(.*?)\.(exe|sh|zip|alz|tiff)$");
            var maxSize = 10485760; // 10MB

            function checkExtension(fileName, fileSize) {
                if(fileSize >= maxSize) {
                    alert("파일 사이즈 초과");
                    return false;
                }

                if(regex.test(fileName)) {
                    alert("해당 종류의 파일은 업로드할 수 없습니다.");
                    return false;
                }
                return true;
            }
            function showResult(uploadResultArr) {
                var uploadUL = $(".uploadResult ul");
                var str = "";

                $(uploadResultArr).each(function(i, obj) {
                    str += "<li data-name='" + obj.fileName + "' data-path='" + obj.folderPath + "' data-uuid='" + obj.uuid+"'>";
                    str += " <div>";
                    str += "<button type='button' data-file=\'" + obj.imageURL + "\' ";
                    str += "class='btn-warning btn-sm'>X</button><br>";
                    str += "<img src='/display?fileName=" + obj.thumbnailURL + "'>";
                    str += "</div>"
                    str += "</li>";
                })
                uploadUL.append(str);
            }


            $(".custom-file-input").on("change", function() {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);

                var formData = new FormData();

                var inputFile = $(this);

                var files = inputFile[0].files;

                var appended = false;

                for( var i=0; i<files.length; i++) {
                    if(!checkExtension(files[i].name, files[i].size)) {
                        return false;
                    }
                    console.log(files[i]);
                    formData.append("uploadFiles", files[i]);
                    appended = true;
                }
                // upload를 하지 않는다.
                if(!appended) {return;}

                for(var value of formData.values()) {
                    console.log(value);
                }

                // 실제 업로드를 하는 부분
                // upload ajax
                $.ajax({
                    url:'/uploadAjax',
                    processData : false,
                    contentType : false,
                    data : formData,
                    type : 'POST',
                    dataType : 'json',
                    success : function(result) {
                        console.log(result);
                        showResult(result);
                    },
                    error : function(jqXHR, textStatus, errorThrown) {
                        console.log(textStatus);
                    }
                }); // end $.ajax
            })

            $(".uploadResult").on("click", "li button", function(e) {
                console.log("Delete file")

                var targetFile = $(this).data("file");

                var targetLi = $(this).closest("li");


                $.ajax({
                    url:'/removeFile',
                    data : {fileName:targetFile},
                    type : 'POST',
                    dataType : 'text',
                    success : function(result) {
                        alert(result)
                        targetLi.remove();
                    }
                }); // end $.ajax
            })

            // prevent submit
            $(".btn-primary").on("click", function(e) {
                e.preventDefault();

                var str = "";

                $(".uploadResult li").each(function(i, obj) {
                    var target = $(obj);
                    str += "<input type='hidden' name='imageDTOList[" + i + "].imgName' value='" + target.data('name') + "'>";
                    str += "<input type='hidden' name='imageDTOList[" + i + "].path' value='" + target.data('path') + "'>";
                    str += "<input type='hidden' name='imageDTOList[" + i + "].uuid' value='" + target.data('uuid') + "'>";
                })
                // 태그들이 추가된 것을 확인한 후에 comment를 제거
                $(".box").html(str);

                // $("form").submit();
            })
        }) // document ready
    </script>
</body>
</html>